################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Ignore:
.vs/
obj/
/src/Extensions/Echo/Gallio.Echo/bin/
/src/Extensions/Echo/Gallio.Echo.Tests/bin/
/src/Gallio/Gallio/bin/
/src/Gallio/Gallio.Host/bin/
/src/Gallio/Gallio.Reports/bin/
/src/Gallio/Gallio.Tests/bin/
/src/Gallio/Gallio.UI/bin/
/src/Gallio/Gallio.UI.Tests/bin/
/src/Gallio/Gallio35/bin/
/src/Gallio/Gallio40/bin/
/src/Gallio/Gallio40.Tests/bin/
/src/MbUnit/MbUnit.TestResources/bin/
/src/MbUnit/MbUnit/bin/
/src/MbUnit/MbUnit.TestResources.x64/bin/
/src/MbUnit/MbUnit.TestResources.x86/bin/
/src/MbUnit/MbUnit.Tests/bin/
/src/MbUnit/MbUnit.Compatibility/bin/
/src/MbUnit/MbUnit.Compatibility.Tests/bin/
/src/MbUnit/MbUnit35/bin/
/src/MbUnit/MbUnit40/bin/
/src/MbUnit/MbUnit40.Tests/bin/
/src/Extensions/AutoCAD/Gallio.AutoCAD.Plugin/bin/
/src/Extensions/AutoCAD/Gallio.AutoCAD/bin/
/src/Extensions/AutoCAD/Gallio.AutoCAD.Tests/bin/
/src/Extensions/AutoCAD/Gallio.AutoCAD.UI/bin/
