################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Ignore:
**/.vs/**
bin/
obj/

Allow:
!**/libs/CciMetadata/Bin
