################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Extensions/AutoCAD/.vs/AutoCAD.vs2010/v15
